<div class="container">
  <p>Filtering by date range</p>
  <input #Date1 type="date" value="2022-01-01" (change)="changeInput()"> - <input #Date2 type="date" value="2022-01-01" (change)="changeInput()">
  <table class="table table-dark table-striped mt-5">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredEmployees">
        <td>
          {{item.firstName}}
        </td>
        <td>{{item.address}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
